<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changeTokenByIncrementalKey</key>
	<dict>
		<key>LibraryUnderstandingTaskIncrementalKey</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkMkE0Q0Q5QkItMEJFOC00RTFCLThENEItOTNENkNGRjFCNUVD
			EQGc0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
		<key>PHAGraphRebuildTaskIncrementalKey</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkMkE0Q0Q5QkItMEJFOC00RTFCLThENEItOTNENkNGRjFCNUVD
			EQGc0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkMkE0Q0Q5QkItMEJFOC00RTFCLThENEItOTNENkNGRjFCNUVD
			EQGc0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkMkE0Q0Q5QkItMEJFOC00RTFCLThENEItOTNENkNGRjFCNUVD
			EQGc0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>upgradeDate</key>
		<date>2025-09-19T08:49:29Z</date>
		<key>version</key>
		<integer>3</integer>
	</dict>
	<key>nonIncrementalRunRecords</key>
	<dict>
		<key>LibraryUnderstandingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-09-21T03:49:52Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>154824</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-03T14:43:44Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>400</integer>
			<key>featureCompleteInterval</key>
			<real>154783</real>
			<key>fteInterval</key>
			<real>24117</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-08-17T18:21:20Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24119</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-03T14:43:56Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24118</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>records</key>
	<dict>
		<key>ContextualPromptSuggestionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:34:11Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<key>FeaturedCollectionElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:34:11Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24119</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>GraphSearchEntityRankingDonationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-02T17:52:33Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24119</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>LibraryUnderstandingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:29:48Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>154824</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MemoryCreationFeatureAvailabilityTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-07T08:40:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>800</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MessagesBackdropGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:30:20Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>117</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MessagesContextualBackdropGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:29:48Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>118</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAAssetRevGeocodeEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-07T08:40:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>23222</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHACachingCPAnalyticsPropertiesTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-07T08:40:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>23529</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAContactUpdateTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:31:44Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24118</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAExternalAssetsTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:29:48Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24118</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAFeaturesUsageReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-07T08:40:50Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>23529</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAForcedHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:32:18Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:31:44Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>400</integer>
			<key>featureCompleteInterval</key>
			<real>154783</real>
			<key>fteInterval</key>
			<real>24117</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAHighlightCollectionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T08:52:56Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24117</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T08:52:56Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>102</integer>
			<key>featureCompleteInterval</key>
			<real>1211611</real>
			<key>fteInterval</key>
			<real>1211611</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMediaSampleReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-07T08:40:50Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>23529</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:34:11Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>24119</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoryElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:34:11Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>101</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicCacheMusicKitConsistencyJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-25T19:43:15Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968071</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicEvictDisplayMetadataCacheJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-25T19:43:15Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968071</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicForArtistCacheJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-25T19:43:15Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968070</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicForMomentCacheJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-25T19:43:15Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968070</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicForTimeBackfillCacheJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-25T19:43:15Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968070</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicForTimeFrontfillCacheJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-25T19:43:14Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968071</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicForTopicPrefetchJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-25T19:43:14Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968068</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicForYouCacheJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-25T19:43:13Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968070</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMusicPruneCacheSourcesJob</key>
		<dict>
			<key>completionDate</key>
			<date>2025-12-24T17:35:03Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>968071</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPeopleSuggestionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:29:48Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24119</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPortraitDonationEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-07T08:40:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>213924</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHARevGeocodeSyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-07T08:40:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>213924</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:32:01Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>24118</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASuggestionGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:34:11Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>30</integer>
			<key>featureCode</key>
			<integer>100</integer>
			<key>fteInterval</key>
			<real>24119</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:29:48Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24118</real>
			<key>version</key>
			<integer>22</integer>
		</dict>
		<key>PHAUserBehaviorEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-09-17T19:44:31Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>24119</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAWallpaperWeeklyTask[Ambient]</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-03T14:42:33Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>30</integer>
			<key>featureCode</key>
			<integer>0</integer>
			<key>fteInterval</key>
			<real>154807</real>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<key>PublicEventCacheInvalidationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-03T14:43:39Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>154780</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PublicEventCachingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-04T05:31:44Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>154780</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>WhimsicalPromptSuggestionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-02-28T06:36:42Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>154883</real>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
